<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Supper Restaurants!</title>
</head>

<body>
    <div class="container">
        <h1>Supper Restaurants przy h1</h1>
    </div>

    <div>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>open hour</th>
                <th>close hour</th>
                <th>contact</th>
                <th>cuisine</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="restaurant : ${availableRestaurantsDTOs}">
                    <td th:text="${restaurant.restaurantName}"></td>
                    <td th:text="${restaurant.openHour}"></td>
                    <td th:text="${restaurant.closeHour}"></td>
                    <td th:text="${restaurant.phone}"></td>
                    <td th:text="${restaurant.type}"></td>
                    <td>
                        <a th:href = "@{/error}" class="btn btn-info" role="button" th:text="'Order from ' + ${restaurant.restaurantName}">Restaurant Name</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
