<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          rel="stylesheet">
    <title>Supper Restaurants!</title>
</head>

<body>
<div>
<h1>Feeling hungry? Try one of our SupperRestaurants!</h1>
</div>

<div>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>open hour</th>
            <th>close hour</th>
            <th>contact</th>
            <th>cuisine</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="restaurant : ${availableRestaurantsDTOs}">
            <td th:text="${restaurant.logo}"></td>
            <td th:text="${restaurant.restaurantName}"></td>
            <td th:text="${restaurant.openHour}"></td>
            <td th:text="${restaurant.closeHour}"></td>
            <td th:text="${restaurant.phone}"></td>
            <td th:text="${restaurant.cuisine.getCuisine()}"></td>
            <td>
                <a class="btn btn-info" role="button" th:href="@{/error}"
                   th:text="'Order from ' + ${restaurant.restaurantName}">Restaurant Name</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/client/profile}" class="btn btn-info" role="button">Profile</a>
        </div>
    </div>
</div>
</body>
</html>