<!DOCTYPE HTML>
<html lang="pl">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          rel="stylesheet">
    <title>Supper Speed</title>
</head>

<body style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh;">
<h1>Are you sure you want to delete your account?</h1>
<br>
<div style="display: flex; justify-content: center; gap: 20px;">
    <form action="/supperspeed/delete" method="post">
        <input name="confirmation" type="hidden" value="no"/>
        <button class="btn btn-success btn-lg" style="width: 150px;" type="submit">Don't
            delete
        </button>
    </form>
    <form action="/supperspeed/delete" method="post">
        <input name="confirmation" type="hidden" value="yes"/>
        <button class="btn btn-danger btn-lg" style="width: 150px;" type="submit">
            Delete
        </button>
    </form>
</div>
</body>
</html>