<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            rel="stylesheet"
    >
    <title>Supper Tasty!</title>
</head>

<body>
<div class="container">
    <div style="display: flex; justify-content: center;">
        <h1>Menu:</h1>
    </div>
    <br>
</div>

<form action="/supperspeed/orders/submit-order" method="post">
    <div class="container">
        <table class="table" th:each="category : ${dishesByCategory}">
            <thead>
            <tr class="table-primary">
                <th colspan="4" style="text-align: center;" th:text="${category.getKey().get(0).categoryName}"/>
            </tr>

            <tr class="table table-info">
                <th>Photo</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th style="background-color: transparent; text-align: center;">Quantity</th>
                <th style="background-color: transparent; text-align: center;">Total Price</th>
            </tr>
            </thead>
            <tbody id="dishTable">
            <tr th:data-dish-id="${dish.dishId}" th:each="dish : ${category.getValue()}">
                <td>
                    <img th:if="${dish.getImageDTO() != null}"
                         alt="Dish Image"
                         th:height="*{imageHeight}"
                         th:src="@{'/images/' + ${restaurantDirectory} + '/'  + ${dish.getImageDTO().getImageURL()}}"
                         th:width="*{imageWidth}"/>
                </td>
                <td th:text="${dish.name}"/>
                <td th:text="${dish.description}"/>
                <td th:text="${dish.price}"/>
                <td class="wrapper" style="text-align: center;">
                    <button class="minus" type="button">-</button>
                    <input class="num" min="0" readonly th:name="'amountOfDishWithId_' + ${dish.dishId}" type="number"
                           value="0"/>
                    <button class="plus" type="button">+</button>
                </td>
                <td class="total" style="text-align: center;">0</td>
            </tr>
            </tbody>
        </table>
        <input th:name="restaurantId" th:value="${restaurantId}" type="hidden">
        <div class="row mt-3">
            <div class="col-md-4">
                <button class="btn btn-success" id="orderButton" type="submit">Order</button>
            </div>
        </div>
    </div>
</form>

<br>


<br>

<div class="row mt-3">
    <div class="col-md-4">
        <a class="btn btn-info" role="button" th:href="@{/}">Go back</a>
    </div>
</div>


<script
        crossorigin="anonymous"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const pluses = document.querySelectorAll(".plus"),
            minuses = document.querySelectorAll(".minus"),
            nums = document.querySelectorAll(".num"),
            totals = document.querySelectorAll(".total"),
            dishes = document.querySelectorAll("#dishTable tr");

        let orderPrice = 0;
        let orderButton = document.getElementById("orderButton");

        pluses.forEach((plus, index) => {
            const clonedPlus = plus.cloneNode(true);
            plus.parentNode.replaceChild(clonedPlus, plus);

            clonedPlus.addEventListener("click", () => {
                let amount = parseInt(nums[index].value) || 0;
                amount++;
                nums[index].value = amount;

                handleOrderPriceUpdate(index, amount, true);
            });
        });

        minuses.forEach((minus, index) => {
            const clonedMinus = minus.cloneNode(true);
            minus.parentNode.replaceChild(clonedMinus, minus);

            clonedMinus.addEventListener("click", () => {
                let amount = parseInt(nums[index].value) || 0;
                if (amount > 0) {
                    amount--;
                    nums[index].value = amount;

                    handleOrderPriceUpdate(index, amount, false);
                }
            });
        });

        function handleOrderPriceUpdate(index, amount, addingValue) {
            nums[index].innerText = amount;

            let dishPrice = getTotalDishPrice(index, 1);
            let totalDishPrice = getTotalDishPrice(index, amount);
            updateTotalPriceForDishes(index, totalDishPrice)
            updateOrderValue(dishPrice, addingValue);
        }

        function updateTotalPriceForDishes(index, price) {
            totals[index].innerText = price.toFixed(2);
        }

        function getTotalDishPrice(index, amount) {
            let price = parseFloat(dishes[index].cells[3].textContent) || 0;
            return amount * price;
        }

        function updateOrderValue(price, addingValue) {
            if (addingValue === true) {
                orderPrice += price;
            } else {
                orderPrice -= price;
            }
            setOrderButtonValue();
        }

        function setOrderButtonValue() {
            orderButton.textContent = `Confirm Order: (${orderPrice.toFixed(2)})`;
        }

    });
</script>

</body>
</html>